@media screen and (max-width:767px) {
    .wrapper {
        width: 300px;
    }

    .left {
        width: 100px;
    }

    .center,
    .center_upper,
    .center_middle {
        width: 125px;
    }

    .lightbox_lower {
        width: 200px;
    }

    .light {
        width: 75px;
    }


    /*==========max-width:767px========*/
}

@media screen and (max-width:479px) {

    .wrapper,
    .contents {
        width: 150px;
        height: auto;
    }

    .contents>div,
    .center>div {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        float: none;
    }

    .left {
        height: 100px;
    }

    /*==========max-width:479px========*/
}